.header {
  /* border: 1px solid red; */
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 2*48px);
}

/* Разрешение экрана от 768 до 1023px */
@media screen and (max-width: 1023px) {
  .header {
    max-width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: calc(100% - 2*16px);
  }
}
