.content {
  display: grid;
  gap: 92px;
}

@media screen and (max-width: 1023px) {
  .content {
    display: grid;
    gap: 88px;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    display: grid;
    gap: 64px;
  }
}
