.intro {
  border: 1px solid red;
  max-width: 690px;
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 auto;
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 auto;
    max-width: calc(100% - 16px*2);
  }
}
