.lead__subtitle {
  color: #fff;
  max-width: calc(100% - 172px*2);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

/* Разрешение экрана от 1024 до 1279px */
@media screen and (max-width: 1279px) {
  .lead__subtitle {
    max-width: calc(100% - 144px*2);
    margin-bottom: 56px;
  }
}

/* Разрешение экрана от 768 до 1023px */
@media screen and (max-width: 1023px) {
  .lead__subtitle {
    max-width: calc(100% - 64px*2);
  }
}

/* Разрешение экрана от 320 до 767px */
@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-bottom: 40px;
    max-width: calc(100% - 16px*2);
    font-size: 16px;
    line-height: 20px;
  }
}
