.place {
  font-family: 'Inter', Arial, sans-serif;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 460px 484px;
  grid-template-rows: fit-content(152px) fit-content(460px);
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
  "place__title place__website"
  "place__image place__description";
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: fit-content(152px) fit-content(440px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: fit-content(92px) fit-content(440px);
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
