.footer {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 2*48px);
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    min-height: 310px;
  }
}
